header {
	background-color: #dddddd;
	margin-bottom: 1rem;
	border-bottom: 1px solid;
}

header  h1 > a {
	text-decoration: none;
	color: #0275d8;
}

header  h1 > a:hover, header > h1 > a:visited {
	text-decoration: none;
	color: #0275d8;
}

#giscene-logo {
	vertical-align: baseline;
}

div[role=main] h2 {
	margin-top: 3rem;
}

.card:hover {background-color: #dddddd}
